body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    padding: 10em 25em;
}

#root {
background-color: #AABBCC;
  text-align: center;
}

#test {
    min-height: 20vh;
}

.userbutton {
    border-width: 0;
    border-style: none;
    display: inherit;
    cursor:pointer;
}

.userpagebox {
    margin: 0 20em;
    border-radius: 25px;
}

#userpageAvatar{
    width: 15vw;
    height: 15vw;
    display: inline-block;
}

#userInfoTable{
    padding: 0 23em;
    width: auto;
}
